@import 'tailwindcss';

* {
  font-family: didot, serif;
}

body {
  color: var(--color-text);
}

.lhvm {
  font-family: bodoni, serif;
  font-size: 50px;
}

.nav-text {
  font-family: bodoni, serif;
}