@import 'tailwindcss';

* {
	font-family: bodoni, serif;
}

body {
	color: var(--color-text);
}

.lhvm {
	font-family: 'Bodoni 72 Smallcaps', 'Bodoni', bodoni, serif;
	font-variant: small-caps;
	font-weight: 400;
	font-size: 80px;
}
